.background-container {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.6);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-end;
}
.head-title {
  color: #fff;
  margin-bottom: 32px;
}
.container-link-buy {
  display: flex;
  column-gap: 14px;
}
.text-link {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  padding: 12px 28px;
  align-items: center;
}
.link-buy {
  border-radius: 100px;
  background: #fd9222;
  transition: border-color 250ms ease-out, color 250ms ease-out;
}
.link-how-made {
  border-radius: 100px;
  border: 1px solid #fff;
  transition: border-color 250ms ease-out, color 250ms ease-out;
}

.link-buy:hover,
.link-buy:focus {
  background: #fcf1e0;
  color: #fd9222;
}
.link-how-made:hover,
.link-how-made:focus {
  border: 1px solid #fd9222;
  color: #fd9222;
}
.scroll {
  display: flex;
  column-gap: 14px;
  align-items: center;
}

.scroll-svg {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  fill: rgba(253, 146, 34, 1);
  transition: fill 250ms ease-out;
}

.scroll:hover .scroll-svg,
.scroll:focus .scroll-svg {
  fill: rgba(255, 255, 255, 1);
}
.scroll-text {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16em;
  letter-spacing: -0.03;
  transition: color 250ms ease-out;
}
.scroll-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  transition: border-color 250ms ease-out;
}
.scroll:hover .scroll-text,
.scroll:focus .scroll-text {
  color: #fd9222;
}
.scroll:hover .scroll-link,
.scroll:focus .scroll-link {
  background-color: #fd9222;
}
@media screen and (max-width: 767px) {
  .background-container {
    background-image: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.6)
      ),
      url("/image/chocolate-main_mob.jpg");
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 620px;
  }
  .head-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: -0.035;
    flex-shrink: 0;
    width: 299px;
    height: 72px;
  }
  .container-link-buy {
    margin-bottom: 32px;
  }
  .scroll-svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }
}
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and(min-device-pixel-ratio: 2) and (max-width: 767px) {
  .background-container {
    background-image: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.6)
      ),
      url("/image/chocolate-main-mob@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .background-container {
    background-image: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.6)
      ),
      url("/image/chocolate-main-tablet.jpg");
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    height: 890px;
  }
  .head-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21em;
    letter-spacing: -0.84px;
    width: 484px;
  }
  .text-link {
    padding: 14px 40px;
  }
  .hero-text-wrapp {
    display: block;
  }
  .container-link {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .scroll-text {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28em;
    letter-spacing: -0.42px;
  }
  .scroll-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #fff;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and(min-device-pixel-ratio: 2) and (min-width: 768px) {
  .background-container {
    background-image: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.6)
      ),
      url("/image/chocolate-main-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1168px) {
  .background-container {
    background-image: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.6)
      ),
      url("image/chocolate-main.jpg");

    height: 600px;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1168px),
  screen and (min-resolution: 2dppx) and (min-width: 1168px),
  screen and(min-device-pixel-ratio: 2) and (min-width: 1168px) {
  .background-container {
    background-image: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.6)
      ),
      url("image/chocolate-main@2x.jpg");
  }
}
