.menu-products {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: center;
}
.menu-item-products {
  padding: 32px 52px 32px 53px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
}
.menu-item-title-products {
  color: #111;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33em;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  margin-top: 8px;
}
.menu-item-text-products {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16em;
  letter-spacing: -0.24px;
  margin-top: 2px;
}
.menu-button-products {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 18px;
  width: 94px;
  padding: 8px 20px;
  align-items: flex-start;

  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);

  background: #fff;
}

@media screen and (min-width: 768px) {
  .menu-products {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
  }
  .menu-item-products {
    width: calc((100% - 1 * 32px) / 2);
    padding: 32px 53px 32px 53px;
  }
}
@media screen and (min-width: 1168px) {
  .menu-products {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px 18px;
  }
  .menu-item-products {
    width: calc((100% - 3 * 18px) / 4);
    padding: 32px 20px;
  }
}
